{% assign words_per_minute = page.words_per_minute | default: site.words_per_minute | default: 200 %}

{% if post.read_time %}
  {% assign words = post.content | strip_html | number_of_words %}
{% elsif page.read_time %}
  {% assign words = page.content | strip_html | number_of_words %}
{% endif %}

{% if words < words_per_minute %}

  {% if page.lang == "en" %}
    {{ site.data.ui-text["en-US"].less_than | default: "less than" }} 1 {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
  {% else %}
    {{ site.data.ui-text["pt-BR"].less_than | default: "less than" }} 1 {{ site.data.ui-text[site.locale].minute_read | default: "minute read" }}
  {% endif %}

{% elsif words == words_per_minute %}

  {% if page.lang == "en" %}
    1 {{ site.data.ui-text["en-US"].minute_read | default: "minute read" }}
  {% else %}
    1 {{ site.data.ui-text["pt-BR"].minute_read | default: "minute read" }}
  {% endif %}

{% else %}

  {% if page.lang == "en" %}
    {{ words | divided_by:words_per_minute }} {{ site.data.ui-text["en-US"].minute_read | default: "minute read" }}
  {% else %}
    {{ words | divided_by:words_per_minute }} {{ site.data.ui-text["pt-BR"].minute_read | default: "minute read" }}
  {% endif %}

{% endif %}
